# Unreal generated
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/

# Logs / crashes
**/*.log
**/*.dmp
**/Crashes/

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb
*.sln
*.vcxproj*
*.pdb
*.exp
*.obj
*.lib
*.idb
*.ilk
*.tlog
